
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');


// Bootstrap
@import '../../node_modules/buefy/dist/buefy.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#app {
  background-color: #e6e6ff;
}
